<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="use_nominal_extrinsics" default="true"/>
    <xacro:include filename="$(find realsense2_description)/urdf/_d455.urdf.xacro" />

    <xacro:sensor_d455 parent="base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
        <origin xyz="0.05 0.1 0" rpy="0 0 0"/>
    </xacro:sensor_d455>
</robot>