<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="left_wheel_joint">
      <command_interface name="velocity">
        <param name="min">${robot['wheel']['velocity']['min']}</param>
        <param name="max">${robot['wheel']['velocity']['max']}</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="right_wheel_joint">
      <command_interface name="velocity">
        <param name="min">${robot['wheel']['velocity']['min']}</param>
        <param name="max">${robot['wheel']['velocity']['max']}</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="mower_joint">
      <command_interface name="effort">
      </command_interface>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

  <gazebo>
    <!-- Joint state publisher -->
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find openmower)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>


</robot>