<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">
    <joint name="imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu"/>
        <origin xyz="0.5 0 0.05" rpy="0 0 0"/>
    </joint>

    <link name="imu">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.08 0.08 0.04"></box>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.08 0.08 0.04"></box>
            </geometry>
            <material name="red"/>
        </visual>
    </link>

    <gazebo reference="imu">
        <material>Gazebo/Red</material>
    </gazebo>
</robot>